@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.modal {
  display: none;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  display: flex;
  justify-content: center;
  min-height: 64px;
}

.navigation {
  display: flex;
  padding: 0;
}

.navigation-container {
  display: flex;
  align-items: flex-start;
  width: 1060px;
  margin: auto;
}

.logo-sedona-link {
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 30px;
}

.navigation-list, .navigation-user {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 464px;
  margin-right: 160px;
}

.navigation-user {
  display: flex;
  width: 268px;
}

.navigation-item {
  padding: 20px 16px;
}

.navigation-link {
  display: block;
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.user-navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 44px;
  min-height: 64px;
}

.user-navigation-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  margin-right: 0;
  margin-bottom: 14px;
  margin-left: 20px;
}

.circle-numbers-core {
  line-height: 10px;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  width: 20px;
  min-height: 20px;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  width: 126px;
  padding: 0 17px;
  min-height: 36px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.sedona-promo {
  display: flex;
  flex-direction: column;
}

.sedona-demonstration {
  display: flex;
  flex-direction: column;
  background-image: url("/images/index/main-index/preview/index-background.jpg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.sedona-text {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

.sedona-welcome {
  display: flex;
  padding: 0;
  margin: 0;
}

.divider {
  display: flex;
  width: 100%;
}

.sedona-town {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 282px;
  padding-top: 69px;
  padding-bottom: 90px;
}

.sedona-town-heading {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  margin: 0 auto 25px;
  padding: 0;
  width: 621px;
  min-height: 72px;
  text-transform: uppercase;
}

.sedona-town-description {
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  margin: 0 274px 0 275px;
  padding: 0;
  min-height: 26px;
  width: 651px;
}

.sedona-advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.sedona-advantages-picture {
  display: flex;
}

.sedona-advantages-item-blue {
  box-sizing: border-box;
  padding: 92px 85px 111px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #82B3D3;
  width: 400px;
  min-height: 384px;
  text-align: center;
}

.sedona-advantages-item-white {
  box-sizing: border-box;
  padding: 103px 85px 121px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
  text-align: center;
}

.sedona-advantages-item-grey {
  box-sizing: border-box;
  padding: 103px 85px 121px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  min-height: 384px;
  text-align: center;
}

.sedona-advantages-item-title {
  box-sizing: border-box;
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  width: 175px;
  min-height: 56px;
  margin: 0 27.5px 30px;
}

.sedona-advantages-item-title-white {
  box-sizing: border-box;
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  width: 175px;
  min-height: 56px;
  margin: 0 27.5px 30px;
}

.sedona-advantages-item-title-grey {
  box-sizing: border-box;
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  width: 175px;
  min-height: 56px;
  margin: 0 27.5px 30px;
}


.sedona-advantages-item-description {
  box-sizing: border-box;
  font-weight: 400;
  color: #ffffff;
  width: 230px;
  min-height: 63px;
  margin: 30px 0 0;
}

.sedona-advantages-item-description-white {
  box-sizing: border-box;
  font-weight: 400;
  color: #333333;
  width: 230px;
  min-height: 63px;
  margin: 30px 0 0;
}

.sedona-advantages-item-description-grey {
  box-sizing: border-box;
  font-weight: 400;
  color: #333333;
  width: 230px;
  min-height: 63px;
  margin: 30px 0 0;
}

.sedona-services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.sedona-services-item-grey {
  box-sizing: border-box;
  padding: 80px 85px 81px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  min-height: 384px;
  text-align: center;
}

.sedona-services-item-white {
  box-sizing: border-box;
  padding: 80px 85px 81px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
  text-align: center;
}

.house-picture {
  margin: 0 77.5px 30px;
}

.food-picture {
  margin: 0 77.5px 30px;
}

.souvenir-picture {
  margin: 0 77.5px 30px;
}

.service-type {
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  margin: 0 0 30px;
}

.service-type-description {
  font-weight: 400;
  margin: 0;
  width: 100%;
  min-height: 63px;
}

.searching-hotels {
  box-sizing: border-box;
  padding: 96px 304px;
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.searching-hotels-container {
  display: flex;
  flex-direction: column;
  width: 592px;
}

.searching-hotels-title {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 147.5px 20px;
}

.serching-hotels-indicate {
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  width: 592px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.button-searching-hotels {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  width: 375px;
  min-height: 52px;
  margin: 0 108.5px;
}

.subscription-background {
  box-sizing: border-box;
  padding: 96px 258px 104px;
  display: flex;
  justify-content: center;
  background-image: url("/images/index/main-index/subscribe-background.jpg");
  width: 1200px;
  height: 414.86px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscription-container {
  text-align: center;
  width: 684px;
  margin: 0;
}

.subscription-title {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 20px;
}

.subscription-subtitle {
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  margin: 0 auto 54px;
}

.form-container {
  display: flex;
  width: 684px;
}

.field {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 18px;
  margin:0;
  padding-left: 20px;
  padding-right: 20px;
  color:#000000;
  width: 452px;
  min-height: 52px;
}

.subscription-button-container {
  display: flex;
  margin: 8px 50px;
}

.subscription-button {
  font-family: "PT Sans", sans-serif;
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  width: 232px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.footer-index {
  box-sizing: border-box;
  padding: 40px 70px 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-social-container {
  display: flex;
  width: 1060px;
  min-height: 50px;
}

.footer-social-list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 183.5px;
  min-height: 50px;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 47.33px;
  height: 40px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.YouTube-image {
  display: flex;
}

.footer-telephone {
  display: flex;
  width: 720px;
  height: 50px;
}

.footer-contacts-telephone {
  line-height: 40px;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  margin: 5px 194px 5px 195px;
}

.footer-htmlacademy {
  width: 156.5px;
  height: 50px;
}

.htmlacademy-link {
  display: flex;
}

.htmlacademy-logo {
  margin: 8.5px 0 8.5px 41.5px;
}

.main-hotels-container {
  background-image: url("/images/catalog/main-catalog/fliters-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header-title {
  line-height: 78px;
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
}

.current-page {
  text-decoration: none;
}

.hotels-current {
  line-height: 21px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.filters-item {
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

.option-item-choice {
  line-height: 23px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.radiobutton-item-option {
  line-height: 23px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.field-word {
  line-height: 24px;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.price-field {
  line-height: 24px;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.button-apply {
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
}

.button-reset {
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.number-hotels-text {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.sorting-hotels-filter {
  line-height: 21px;
  font-weight: 400;
  font-size: 18px;
}

.card-text {
  line-height: 28px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.text-plag {
  font-weight: 400;
}

.hotel-price {
  font-weight: 400;
}

.card-button-detail {
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

.button-favourites {
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
}

.button-favourites-current {
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7DB54F;
}

.card-rating {
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-button {
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-button-ellipsis {
  text-decoration: none;
}

.pagination-numbers {
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.pagination-numbers-ellipsis {
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}

.pagination-numbers-current {
  text-transform: uppercase;
  color: #000000;
  background-color: #F2F2F2;
}

.subscription-title-catalog {
  color: #000000;
}

.subscription-subtitle-catalog {
  color: #000000;
}

.field-catalog {
  background-color: #F2F2F2;
}

.modal-content-title {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.modal-content-closebutton {
  background-color: #F2F2F2;
}

.modal-content-parameters-option {
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}

.modal-content-parameters-field {
  line-height: 24px;
  font-weight: 700;
  font-size: 18px;
  background-color: #F2F2F2;
}

.field-data {
  line-height: 21px;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

.field-data-error {
  line-height: 21px;
  font-weight: 400;
  font-size: 16px;
  color: #FF5757;
}

.quantity-field {
  background-color: #F2F2F2;
  width: 110px;
  height: 48px;
}

.modal-content-parameters-field-bottom {
  line-height: 20px;
  font-weight: 700;
  font-size: 18px;
  background-color: #F2F2F2;
}

.children-help {
  background-color: #83B3D3;
}

.children-help-hovered {
  background-color: #333333;
  width: 256px;
  height: 143px;
  left: -56px;
  top: 41px;
}

.children-help-hovered-text {
  line-height: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.searching-button {
  background-color: #83B3D3;
  width: 577px;
  height: 60px;
  left: 0;
  top: 288px;
}

.searching-button-text {
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
